/* COLORES */
.color-principal {
    background-color: var(--color-principal)!important;
}
.color-secundario {
    background-color: var(--color-secundario)!important;
}
.color-tercero {
    background-color: var(--color-tercero)!important;
}
.color-cuarto {
    background-color: var(--color-cuarto)!important;
}
.color-quinto {
    background-color: var(--color-quinto)!important;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0px!important;
}

.hr-p {
    padding: 5px;
    background: var(--color-principal);
}

.color-t-principal {
    color: var(--color-principal)!important;
}

.color-f-principal {
    background-color: var(--color-principal)!important;
}

a {
    text-decoration: none!important;
    color: var(--color-principal)!important;
    font-weight: 500;
}

li {
    list-style: none!important;
}

a:hover {
    color: var(--color-principal)!important;
    border-bottom: 1px solid var(--color-quinto)!important;
}

.navbar-nav>li.active, .item-activo {
	border-bottom: 2px solid var(--color-principal);
}

.titulo-seccion {
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    font-style: italic;
}

.titulo-principal {
    letter-spacing: 23px;
    font-size: 80px!important;
    font-weight: bold;
    font-family: "aquajade", 'Oswald', sans-serif;
    font-style: italic;
    color: #fff!important;
}

.letter-spacing-5px { 
    letter-spacing: 5px!important;
}

.subtitulo {
    color: #666666!important;
    text-align: left;
    font-size: 28px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
}

.l-s-3px {
    letter-spacing: 3px;
}

.rotate-100deg {
    transform: rotate(100deg);
}

.b-b-red {
    border-bottom: 3px solid #fb0000;
}

.b-c-white {
    border-color: #fff!important;
}

.b-c-white {
    border: 3px solid #fff;
}

.text-left {
    text-align: left!important;
}

.text-right {
    text-align: right!important;
}

/* Font weight */
.fw-800 {
    font-weight: 800!important;
}

.links li a {
    color: #fff!important;
}

h2::after {
    height: 0px!important;
}

.carousel-inner {
    background-color: var(--color-principal);
    min-height: 1000px;
}

/* Menú */
.navbar {
    z-index: 100;
}

.navbar-nav {
    display: flex!important;
    flex-direction: unset!important;
}

.navbar-nav li a {
    color:#fff!important;
}

.menu-fijado {
    position: fixed!important;
    top: 0!important;
}

.texto-blanco {
    color: #fff!important;
}

.transform-r-180 {
    transform: rotate(180deg);
}

.p-r {
    position: relative!important;
}

.navbar-collapse {
    flex-grow: initial;
}

.btnRegresar, .btnRegresar:hover:active:focus {
    width: fit-content!important;
    background-color: var(--color-secundario)!important;
    border-color: var(--color-secundario)!important;
    box-shadow: unset!important;
    color: #fff!important;
}

.btnRegresar:hover:active:focus {
    opacity: 0.5;
}

.b-left {
    border-left: 5px solid var(--color-principal);
    padding-left: 10px;
}

.overflow-x-h {
    overflow-x: hidden!important;
}

/* Margenes */
.mt-6 {
    margin-top: 4rem;
}

.mt-7 {
    margin-top: 5rem;
}

.mt-8 {
    margin-top: 6rem;
}

.mt-9 {
    margin-top: 7rem;
}

.mt-10 {
    margin-top: 8rem;
}

/* Margenes rigth */
.mr-10px {
    margin-right: 10px;
}

/* Margenes left */

.ml-5px {
    margin-left: 5px;
}

.ml-10px {
    margin-left: 10px;
}

/* Bottom */

.mb-6 {
    margin-bottom: 4rem;
}

.mb-7 {
    margin-bottom: 5rem;
}

.mb-8 {
    margin-bottom: 6rem;
}

.mb-9 {
    margin-bottom: 7rem;
}

.z-index-2 {
    z-index: 2!important;
}

.z-index-3 {
    z-index: 3!important;
}

.z-index-5 {
    z-index: 5!important;
}

.z-index-10 {
    z-index: 10!important;
}

.mb-10 {
    margin-bottom: 8rem;
}

/* Text */
.text-justify {
    text-align: justify!important;
}

.box-shadow-principal {
    box-shadow: 0px 8px 18px 1px var(--rgb-color-principal)!important;
}

.box-shadow-secundario {
    box-shadow: -7px 10px 17px -3px rgb(0 0 0 / 50%);
}

/* Font size */

.font-size-15px {
    font-size: 15px!important;
}

.font-size-120px, .font-size-120px * {
    font-size: 120px!important;
}

.w-fit-content {
    width: fit-content;
}

/* Marcación de items, click js */

.listas-items li {
    font-style: italic;
    cursor: pointer;   
}

.listas-items .item-inactivo {
    background-color: unset;
    color: #212529;
}

.listas-items .item-activo {
    background-color: var(--color-secundario)!important;
    border-color: var(--color-secundario)!important;
    color: #fff!important;
}

.lista-numerica li {
    list-style: decimal!important;
}

/* Padding */
.pl-0 {
    padding-left: 0!important;
}

.p-5px {
    padding: 5px!important;
}

.bineta, .bineta-circle {
    min-width: 15px;
    max-width: 15px;
    min-height: 15px!important;
    max-height: 15px!important;
    background: var(--color-tercero);
    display: block;
    margin-right: 5px;
}

.bineta-circle {
    border-radius: 50%;
}

.linea-horizontal {
    width: 100%;
    height: 15px;
    display: block;
    background: var(--color-tercero);
}

.barra-separadora {
    width: 5px;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    background: var(--color-tercero);
}

.fondo-color-secundario {
    background-color: var(--color-secundario)!important;
    border-color: var(--color-secundario)!important;
}

.fondo-color-secundario:hover,  .fondo-color-secundario:focus {
    background-color: var(--color-principal)!important;
    border-color: var(--color-principal)!important;
    box-shadow: none!important;
}

.btn-contacto {
    color: #fff!important;
    padding: 20px;
    font-size: 19px;
}

.btn-contacto:hover {
    color: #fff!important; 
}

.imagen-fondo {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
}

.sombra-seccion {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
}

.fondo-seccion {
    background-color: rgb(0,204,205,0.1);
    padding: 20px;
}


/* Line heigt */

.line-height-normal {
    line-height: normal!important;
}

.line-height-normal-60p {
    line-height: 60%!important;
}

/* Tarjetas presentación */
.tarjeta-presentacion-servicio {
    height: 350px;
    border: 1px solid var(--color-principal);
    margin: 17px 0px;
    overflow: hidden;
}

.tarjeta-presentacion-servicio .header-tarjeta {
    font-family: "Reforma1918-BlancaItalica";
    text-align: center;
    padding: 10px;
    background-color: var(--color-principal);
    color: #fff;
}

.tarjeta-presentacion-servicio .contenido-tarjeta {
    width: 100%;
    height: 300px;
    position: relative;
    background-color: #464646;
}

.tarjeta-presentacion-servicio .contenido-tarjeta img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contenedor-otros-servicios .tarjeta-presentacion-servicio {
    height: auto!important;
}

.contenedor-otros-servicios .contenido-tarjeta {
    height: 50px!important;
}

.none-scrollY {
    overflow-y: hidden;
}

/* Spinner carga */

.load-container {
    z-index: 2000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-principal);
    display: flex;
    justify-content: center;
    align-items: center;
}

.carga-spinner {
    width: 30px;
    height: 30px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px -5px #000;
}

.carga-spinner::before {
    content: "♫";
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.spinner-a {
    background-color: var(--color-quinto);
    animation: 3s girar-spinner-izquierda  ease-in-out infinite;
}

.spinner-b {
    background-color: var(--color-tercero);
    margin-left: -15px;
    margin-top: 15px;
    animation: 3s girar-spinner-derecha  linear infinite;
}

.contenido-seccion-informacion {
    background-color: #0088aa;
    padding: 10px;
    color: #ffff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
}

.family-secundario {
    font-family: "Reforma1918-BlancaItalica";
}

.partesTitulo {
    position: absolute!important;
    min-width: 100%;
    z-index: 1;
    background: var(--color-principal)!important;;
}

.titulo-seccion-verde {
    border-bottom: 123px solid var(--color-secundario)!important;
}

.titulo-seccion-gris {
    border-bottom: 123px solid var(--color-principal)!important;
}

.tituloParteDerecha {
    width: 43%;
    height: 0;
    border-left: 103px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 123px solid var(--color-secundario)!important;
    transform: rotateX(180deg);
    position: absolute;
    right: 0;
}

.tituloParteIzquierda {
    width: 70%;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 103px solid transparent;
    border-bottom: 123px solid var(--color-principal)!important;
}

@keyframes girar-spinner-derecha {
    
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

@keyframes girar-spinner-izquierda {
    
    to {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }

}

.carga-spinner {
    width: 50px;
    height: 50px;
}

/* Media querys */
