:root {
    --color-principal: #0088aa;
    --color-secundario:#00ccffff;
    --color-tercero: #2ad4ffff;
    --color-cuarto: #80e5ffff;
    --color-quinto: #aaeeffff;
    --color-gris: #666666;
    --rgb-color-principal:rgb(0 136 170 / 50%);
    --gradiente: linear-gradient(to left, var(--color-secundario), var(--color-principal));
}

/* Fuentes personalizadas */
@font-face {
    font-family: "aquajade";
    src: url(../fonts/aquajade/AquajadeFree-Regular.otf);
}